<!--© Copyright Wasim Thabraze.
    License: MIT
    'Dubhacking' name is copyright as per 2015 and cannot be used unless or untill the prior permission.
    Contact: www.thabraze.in | email: wasim@thabraze.in
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="Wasim Thabraze" content="Dubhacking is an online judge. © 2015" />
    <title>Dubhacking-Signup</title>
    <style> 
    body {
        background: url("images/code.png");
        background-size: 1800px 1600px;
        background-repeat: no-repeat;
        }
    </style>
</head>

<body>
<p style="color: White; align: center; margin-top: 85px; font-family: verdana; margin-left: 100px">It all started with discussion about programming culture between me and prashanth during our return journey from Kerala.<br>

During journey, Prashanth had even thought of a question which has been added to this contest :D<br>

Few days ago, I spoke to few awesome coders of the globe. We exchanged good conversation. Both programming && random stuff.<br>

I was very excited about their programming culture and the way they train programming aspirants to design && solve cool and complex algorithms.<br>

There's way big story to go. In short..<br><br>

After having some precious conversation, I requested them to assist me in hosting this contest. After huge restrictions...They agreed! Yayy!!<br>

The only aim of this website(online judge) is to inject the flavour of solving and designing algorithmic junk in programming aspirants.<br><br>

This website has been particularly coded in Erlang, Clojure and Python only to host this contest and the future contests.<br>

Thanks to the founders of those languages! <br>

Contest graph, scoreboard, judge and  few other parts of the online judge required employing Graph, Machine Learning and some complex algorithms. Never mind. We love to do it!<br>

There will be six problems of varying difficulty. Read the problem. Code it using your favoite editor and submit it. <br>

'AC' represents 'Accepted'. 'WA' represents 'Wrong Answer'. 'TLE' represents 'Time Limit Error'.<br><br>


Hopefully after this contest, some 100 problems and few tutorials will be posted on this website. Users can login and solve them to improve their concepts and ratings.<br>

We are speaking with our professors to make this big and make best use of it. Hope we do it soon!<br><br>


Interested in the technology stack of this online judge? Ping in me! I love to speak :)<br>

Happy Coding!<br><br><p>

                                                                                                             
                                                                                                              <p style="color:White; font-family: verdana; margin-left: 900px">Regards,<br>
                                                                                                              Wasim Thabraze<br>
                                                                                                              www.thabraze.in</p>

</body>
</html>