<!-- © Copyright Wasim Thabraze.
    License: MIT - DBH781647AW4
    'Dubhacking' name is copyright of Wasim Thabraze as per 2015 and cannot be used unless or untill the prior permission.
    Contact: wasim@thabraze.in
-->

<!DOCTYPE HTML>
<html>
<head>
<title>Dubhacking</title>
<link href="/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
<script src="//fast.eager.io/T_ZUd-m7oP.js"></script>
<script src="/web/js/jquery-1.11.1.min.js"></script>
<link href="/web/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/web/js/move-top.js"></script>
<script type="text/javascript" src="/web/js/easing.js"></script>
</head>
<body style="margin-top: -205px; margin-bottom: -400px; overflow: hidden">
<div class="header">
 <div class="tiles">
    <div style="margin-left: 25px"class="header_mac"><a href="/signup" class="scroll">
    	<i class="icon1"></i>
		<h3>Sign up</h3>
	</a></div>
	<div style="margin-left: 35px"class="header_book"><a href="/login" class="scroll">
    	<i class="icon2"></i>
		<h3>Log in</h3>
	</a></div>
	<div class="logo">
		<a style="text-decoration: none; color: white" href="/"><h1 style="font-size: 380%">Dubhacking</h1></a>
	</div>
	<div style="margin-left: 9px"class="header_team"><a href="/scoreboard" class="scroll">
    	<i class="icon3"></i>
		<h3>Scoreboard</h3>
	</a></div>
	<div style="margin-left: 14px"class="header_about"><a href="/about" class="scroll">
    	<i class="icon4"></i>
		<h3>About us</h3>
	</a></div>
	<div style="margin-left:10px" class="header_contact"><a href="mailto: wasim@thabraze.in?Subject=Dubhacking User mail" class="scroll">
    	<i class="icon5"></i>
		<h3>Get in touch</h3>
	</a></div>
 </div>
 <p style="color: white;">Copyright</p>
</div>			
</body>
</html>		