<!--© Copyright Wasim Thabraze.
    License: MIT
    'Dubhacking' name is copyright of Wasim Thabraze as per 2015 and cannot be used unless or untill the prior permission.
    Contact: www.thabraze.in | email: wasim@thabraze.insrc
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="Wasim Thabraze, WASIM,www.thabraze.in, gitpromote,waseem18" content="Dubhacking is an online judge. © Copyright 2015 Wasim Thabraze | Dubhacking" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Dubhacking-Problem</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <script src="js/timer.js"></script>
    <style>
    .submitLink {
        background-color: transparent;
        text-decoration: none;
        color: blue;
        border: none;
        cursor: pointer;
    }
    </style>
</head>

<body>
    <div class="logo" style="margin-left: 555px">
                <h1 style="font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Dubhacking</h1>
     </div>
     <div style="font size: 32px; display: inline-block" id="counter"></div>

     <div style="float: right">
        <p style="font-size: 16px; margin-right: 3cm"><a href="https://dubhacking.appspot.com/user/{{username_session}}">{{username_session}} </a>|<a href="https://dubhacking.appspot.com/scoreboard"> Scoreboard </a> | <a href="https://dubhacking.appspot.com/logout"> Logout</a></p>
    </div>
    <input type="hidden" name="prob" value="A"><p>Problem : Mysterious Library | Time limit: 0.02secs | Memory: 1.5MB | <a class="submitLink" href="https://dubhacking.appspot.com/submit">Submit code</a></p>
    <div class="jumbotron" style="margin-top: 17px">
        <p style="font-size: 14px; margin-left: 15px">    Vinay wants to learn Algorithms. So he went to the library of MVSR and was confused on seeing the books.<br> Suddenly the librarian came and advised vinay that in each rack the m-th and n-th books from both sides of the rack are same. <br>
            <br>
            Your task is to find the total number of books in each rack.
        <br>
        <br>
        <b>Constraints: </b><br>
            1<=m,n<=2000000000.<br>
            Number of testcases t <= 10.
        <br><br>
        <b>Input:</b> <br>
            First line of input contains integer 't'  representing the number of test cases.<br>
            Each of the next t lines has two numbers n and m representing the n-th book and m-th book which are same from both the sides of the rack.
        <br><br>
        <b>Output:</b>
        <br>
        For each test case output total number of books in the rack.</p>
    </div>
    <div class="page-header">
        <b>Sample Input:</b><br>
        <p style="margin-left: 15px">1<br>2 3</p>

        <br>
        <b>Sample Output:</b><br>
        <p>4</p>
        <br>
    </div>
</body>
</html>