<!--© Copyright Wasim Thabraze.
    License: MIT
    'Dubhacking' name is copyright of Wasim Thabraze as per 2015 and cannot be used unless or untill the prior permission.
    Contact: www.thabraze.in | email: wasim@thabraze.insrc
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="Wasim Thabraze, WASIM,www.thabraze.in, gitpromote,waseem18" content="Dubhacking is an online judge. © Copyright 2015 Wasim Thabraze | Dubhacking" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Dubhacking-Problem</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <script src="js/timer.js"></script>
    <style>
    .submitLink {
        background-color: transparent;
        text-decoration: none;
        color: blue;
        border: none;
        cursor: pointer;
    }
    </style>
</head>

<body>
    <div class="logo" style="margin-left: 555px">
                <h1 style="font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Dubhacking</h1>
     </div>
     <div style="font size: 32px; display: inline-block" id="counter"></div>

     <div style="float: right">
        <p style="font-size: 16px; margin-right: 3cm"><a href="https://dubhacking.appspot.com/user/{{username_session}}">{{username_session}} </a>|<a href="https://dubhacking.appspot.com/scoreboard"> Scoreboard </a> | <a href="https://dubhacking.appspot.com/logout"> Logout</a></p>
    </div>
    <input type="hidden" name="prob" value="A"><p>Problem : The Algorithmic Station | Time limit: 0.01secs | Memory: 800B | <a class="submitLink" href="https://dubhacking.appspot.com/submit">Submit code</a></p>
    <div class="jumbotron" style="margin-top: 17px">
        <p style="font-size: 14px; margin-left: 15px">    Last december Team Illustrious went to Kerala. They boarded the train (Number of compartments in train is N) at 'The Algorithmic Railway Station'. <br>
            The speciality of the railway station is that each time any two numbers (a,b<=1,000,000) are announced for K times.<br> On each announcement of two numbers a and b, only one person boards each compartment from compartment a to compartment b (inclusive of a,b).<br> Suppose, if the announced numbers are 10 and 12, one person boards in compartment 10, one in compartment 11, one in 12. <br>After t announcements, Team Illustrious wants to know the number of passengers in the middle compartment of the train when train's compartments are sorted in increasing order of the passengers.
        <br>
        <br>
        <b>Constraints: </b><br>
            N<=10^6 and N is odd. <br>
            K<=25,000<br>
            a<=10^6 and b<=10^6<br> 
        <br><br>
        <b>Input:</b> <br>
            First line of each testcase contains N,K seperated by a single space.
            Follows K lines, each line containing two numbers a,b.
        <br><br>
        <b>Output:</b>
        <br>
        For each test case print the number of passengers from the first compartment to the middle compartment(inclusive of first and middle compartments) and the number of passengers in all the compartments of the train in a line seperated by a single space.</p>
    </div>
    <div class="page-header">
        <b style="margin-left: 15px">Sample Input:</b><br>
        <p style="font-size: 14px; margin-left: 15px">3<br>7 4<br>5 5<br>2 4<br>4 6<br>3 5

        <br><br>
        <b>Sample Output:</b><br>
        3 10<br></p>
        <br>
        <br>
        <b style="margin-left: 15px">Explanation:</b><br>
        <p style="font-size: 14px; margin-left: 15px">Explanation will soon be posted!</p>

    </div>
</body>
</html>