<!--© Copyright Wasim Thabraze.
    License: MIT
    'Dubhacking' name is copyright of Wasim Thabraze as per 2015 and cannot be used unless or untill the prior permission.
    Contact: www.thabraze.in | email: wasim@thabraze.insrc
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="Wasim Thabraze, WASIM,www.thabraze.in, gitpromote,waseem18" content="Dubhacking is an online judge. © Copyright 2015 Wasim Thabraze | Dubhacking" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>Dubhacking-Problem</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <style>
    .submitLink {
        background-color: transparent;
        text-decoration: none;
        color: blue;
        border: none;
        cursor: pointer;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo0" style="margin-left: 95px; margin-top: -16px">
                <h2 style="font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;color: Black">Dubhacking</h2>
     </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav" style="padding:3px;margin-left:600px">
        <ul class="nav nav-pills">
          <li><a href="https://dubhacking.appspot.com/user/{{username_session}}">{{fullname}}</a></li>
         <li><a href="https://dubhacking.appspot.com/problems">Problems</a></li>
          <li><a href="https://dubhacking.appspot.com/scoreboard">Scoreboard</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://dubhacking.appspot.com/submit">Submit code</a></li>
            <li class="divider"></li>
            <li><a href="https://dubhacking.appspot.com/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="https://dubhacking.appspot.com/logout">Signout</a></li>
          </ul>
        </li>

        </ul>
      </ul>
    </div>
  </div>
</nav>

    <!--div class="logo" style="margin-left: 555px">
                <h1 style="font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif">Dubhacking</h1>
     </div>
     <div style="font size: 32px; display: inline-block" id="counter"></div>

     <div style="float: right">
        <p style="font-size: 16px; margin-right: 3cm"><a href="https://dubhacking.appspot.com/user/{{username_session}}">{{username_session}} </a>|<a href="https://dubhacking.appspot.com/scoreboard"> Scoreboard </a> | <a href="https://dubhacking.appspot.com/logout"> Logout</a></p>
    </div-->
    <div style="margin-top: 100px">
    <input type="hidden" name="prob" value="A"><p>Problem : The Dub Stringer | Time limit: 0.03secs | Memory: 2MB | <a class="submitLink" href="https://dubhacking.appspot.com/submit">Submit code</a></p>
    <div class="jumbotron" style="margin-top: 17px">
        <p style="font-size: 14px; margin-left: 15px">    Given a simple string 's' of not more than 100 characters.<br><br>
        All you need to do is to find the number of characters present in the given string.
        <br>
        <br>
        <b>Constraints: </b><br>
            length(s)<=100
        <br><br>
        <b>Input:</b> <br>
            Input contains a string of not more than 100 characters.
        <br><br>
        <b>Output:</b>
        <br>
        For each input print the length of the given string in new line.</p>
    </div>
    <div class="page-header">
        <b style="margin-left: 15px">Sample Input:</b><br>
        <p style="font-size: 14px; margin-left: 15px"><br>CSE2<br>L<br>ABRACADABRA

        <br><br>
        <b>Sample Output:</b><br>
        4<br>1<br>11</p>
        <br>
    </div>
</div>
</body>
</html>